.nav {
  visibility: hidden; //movil//
  //@include margin(0, 300px, 0, 93px);no movil//
  //padding-top: 10px; no movil//
  height: 0;
}

.nav__item {
  height: 0;
  margin: 0;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__link {
  height: 0;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.17em;
  color: getColor(accent);
  fill: getColor(text);
  margin: 0;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: getColor(selected);
    fill: getColor(selected);
  }
}

.nav__active {
  color: getColor(selected);
  height: 0;

  &::after {
    content: '';
    height: 0; //movil//
    width: 100%;
    background-color: getColor(selected);
    display: block;
    border-radius: 50px;
    margin-top: 0; //movil//
  }
}
